<!DOCTYPE html>
<html>
<head>
    <title><%=Title%>></title>
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <link rel='stylesheet' href='/bootstrap-3.3.5/css/bootstrap.min.css'>
    <link rel="stylesheet" media="screen" href="/stylesheets/index.min.css">
    <link rel="stylesheet" media="screen" href="/dataTables/stylesheets/dataTables.bootstrap.css">
    <link rel="stylesheet" media="screen" href="/chartist/stylesheets/chartist.min.css">
    <script src="/chartist/javascripts/chartist.min.js"></script>
    <script src="/dataTables/javascripts/jquery.dataTables.min.js"></script>
    <script src="/dataTables/javascripts/dataTables.bootstrap.js"></script>
    <script src="/bootstrap-3.3.5/js/bootstrap.min.js"></script>

    <script src="/jquery-validation-1.14.0/lib/jquery.js"></script>
    <script src="/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    <script src="/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
    <script src="/javascripts/formcheck.js"></script>
</head>